blessed==1.20.0
boto3==1.28.30
botocore==1.31.30
certifi==2023.7.22
cffi==1.15.1
chalice==1.29.0
charset-normalizer==3.2.0
click==8.1.7
cryptography==41.0.3
defusedxml==0.7.1
httpie==3.2.2
idna==3.4
inquirer==2.10.1
jmespath==1.0.1
markdown-it-py==3.0.0
mdurl==0.1.2
multidict==6.0.4
pycparser==2.21
Pygments==2.16.1
PyJWT==2.8.0
PySocks==1.7.1
python-dateutil==2.8.2
python-editor==1.0.4
PyYAML==6.0.1
readchar==4.0.5
requests==2.31.0
requests-toolbelt==1.0.0
rich==13.5.2
s3transfer==0.6.2
six==1.16.0
typing_extensions==4.7.1
urllib3==1.26.16
wcwidth==0.2.6
